@keyframes start {
    0% {
        background-position: top;
    }
    100% {
        background-position: bottom;
    }
}
@keyframes start-h1 {
    0% {
        transform:translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}