body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $colorGrey;
    .calculator {
        text-align: center;
        padding:14px;
        box-sizing: border-box;
        background-color: $colorBrown;
        border-radius: 5px;
        button {
            padding: 12px;
            width: 50px;
            font-size: 18px;
        }
        input {
            padding: 8px;
            display: block;
            border:0;
            margin-bottom: 2px;
        }
        #txtResult {
            background-color: rgba(255,255,255,0.8);
            border:0;
        }
        input + input {
            margin-bottom: 2px;
        }
    }
}